@import url('colors.css');
@import url('font.css');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: openSansSemiBold;
}

.driverFiles-wrapper {
    padding: 10px;
    background: var(--white);
}
.driverFiles-card {
    padding-left: 9px;
    padding-right: 9px;
}
.driverFiles-header {
    color: var(--dark-blue);
    font-family: openSansBold;
    font-size: 1.5rem;
    line-height: 140%;
    text-transform: capitalize;
    margin-bottom: 22px;
    padding-right: 9px;
    padding-left: 9px;
}
.driverFiles-body {
    margin-bottom: 10px;
}
.driverFiles-body_header {
    color: var(--black);
    font-family: openSansBold;
    line-height: 140%;
    text-transform: capitalize;
    margin-bottom: 7px;
}
.driverFiles-body_details {
    display: flex;
    width: 100%;
}
.driverFiles-body_left {
    width: 60%;
}
.driverFiles-body_right {
    width: 40%;
}
.driverFiles-body_left-text {
    color: var(--dark-gray);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
    margin-bottom: 6px;
}
.driverFiles-body_right-text {
    color: var(--black);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
    margin-bottom: 6px;
}
.driverFiles-body_left-text:last-child, .driverFiles-body_right-text:last-child {
    margin-bottom: 0;
}
.driverFiles-body_left-status {
    color: var(--green);
    font-family: openSansBold;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 110%;
    text-transform: capitalize;
}
.driverFiles-footer {
    padding:  5px 9px;
    background: var(--tin-light-gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
}
.driverFiles-footer-left {
    display: flex;
    align-items: center;
    width: 60%;
}
.driverFiles-footer-right {
    display: flex;
    align-items: center;
    width: 40%;
}
.driverFiles-footer_text {
    color: var(--dark-gray, #717171);
    font-size: 0.625rem;
    font-weight: 600;
    line-height: 110%;
    text-transform: capitalize;
    margin-right: 7px;
}
.driverFiles-footer_item {
    color: var(--black, #000);
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 110%;
    text-transform: capitalize;
}
.driverFiles-footer_subtext {
    color: var(--dark-gray);
}
.driverFiles-card_wrapper {
    padding-bottom: 4px;
    border-bottom: 1px solid var(--light-gray);
    margin-bottom: 10px;
}
.qm--text-green {
    color: var(--green);
    font-family: openSansSemiBold;
}
.qm--text-red {
    color: var(--red);
    font-family: openSansSemiBold;
}
.driverFiles-extra_details {
    display: grid;
    grid-template-columns: 60% 40%;
    row-gap: 9px;
    margin-bottom: 14px;
    padding: 7px 9px 4px 9px;
    background: var(--light-red);
}
.driverFiles-extra_details-title {
    color: var(--dark-gray);
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
}
.driverFiles-extra_details-text {
    color: var(--black);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
}
.qm--upRise {
    display: flex;
    align-items: center;
    color: var(--red);
    font-family: openSansBold;
    font-weight: 700;
    line-height: 110%;
    text-transform: capitalize;
}
.qm--upRise img {
    margin-right: 4px;
    margin-left: 4px;
}